@import "~bootstrap/scss/bootstrap";

body {
    background-color: $gray-100;
}
// уelektrikell color -rgb(245, 245, 252);
.container-wraper {
    background-color: white;
}
.chart {
    width: 100%;
    height: 450px;
    background-color: $secondary;
}

.navbar-brand {
    color: $primary;
}

